main {
height: 66.66666dvh;
width: 66.66666dvw;
background-color: rgb(54, 123, 123);
display: flex;
flex-direction: column;
scale: 1.5;
position: absolute;
top: 0;
left: 0;
transform-origin: top left;
}

body {
overflow: hidden;
margin: 0;
padding: 0;
}